# ===== 데이터/바이너리 무시 =====
*.mat
*.fig
*.csv
*.slx
*.zip
*.7z
*.tar
*.tar.gz
*.log
*.bak
*.tmp
*.asv
*.txt
*.pptx
*.py

# ===== 모든 Archive 폴더 무시 =====
**/Archive/
**/Archive/**
**/Reference/**

/ExperimentalData/Drive Cycle/구조_비교_결과.md
/ExperimentalData/DOE
